.wrapper {
  margin-top: 20px;
}

.content-img {
  border: 1px solid #fff;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.mustafo {
  background-image: url(../images/Mustafo.jpg);
}

.afruza {
  background-image: url(../images/Afruza.jpg);
}

.btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: rgb(75, 73, 71);
  color: white;
  border: none;
  border-radius: 5px;
}

.content-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: aqua;
  width: 200px;
  height: 100px;
  padding: 20px;
  border-radius: 10px;
}

.span {
  text-align: center;
  color: blue;
  font-size: 32px;
  text-transform: uppercase;
}
