.wrapper {
  margin-top: 20px;
}

.btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: rgb(75, 73, 71);
  color: white;
  border: none;
  border-radius: 5px;
}

.square {
  margin: 0 auto;
  background-color: aqua;
  width: 200px;
  height: 200px;
  padding: 20px;
}

.span {
}
