.header {
  margin: 20px 0;
}
.nav {
}
.nav__list {
  @include reset-list;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__item {
}

.nav__link {
  text-decoration: none;
  padding: 5px 15px;
  color: red;
  font-weight: bold;
  border-radius: 10px;
  &:hover {
    background-color: red;
    color: white;
    box-shadow: 0 0 2px 2px red;
  }
}
